extends layout

block content
  h1= title
  p Welcome to #{title}
  ul
    each message in messages
      li 
        div= message.text
        div= message.user
        div= message.added

  form(action="/new" method="get")
    input(type="submit", value="create new post")
